@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-wrap { 
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px; /* Tentukan panjang maksimum sebelum teks di-break */
    overflow-wrap: break-word;
}

.title { 
    white-space: normal;
    word-wrap: break-word;
    max-width: 300px; /* Tentukan panjang maksimum sebelum teks di-break */
    overflow-wrap: break-word;
}